.container{
  height: calc(100vh - 3.5rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
  .header{
    line-height: 50px;
  }
  .content{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    .left{
      // background-color: aqua;
      height: 100%;
      width: 50%;

      min-width: 500px;
      padding: 1rem;
      .form-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 60px) 160px;
        gap: 1rem 1rem;
      }
    }
    .right{
      height: 100%;
      width: 50%;
    }
  }
  .footer-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
.p-inputgroup.name{
  grid-column-start: 1;
  grid-column-end:span 2;
  grid-row-start: 1;
}
.p-inputgroup.description{
  grid-column-start: 1;
  grid-column-end:span 2;
  grid-row-start: 4;
}
.p-inputgroup.importantnotes{
  grid-column-start: 1;
  grid-column-end:span 2;
  grid-row-start: 6;
}

.p-inputgroup.date-start{
  grid-row-start: 5;
}
.p-inputgroup.date-end{
  grid-row-start: 5;
}

.p-inputgroup {
  place-self: center;
  .p-form-element{
    height: 40px;
  }
}

.image-design{
  width: 300px;
}
