// table actions
.table-actions .table-action,.table-action{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: .2rem;
  .mat-icon{
    margin: 0;
  }
}
.table-action.delete{
  color:red;
}
.table-action.delete:hover{
  color:red;
  background-color: rgba(255, 0, 0, 0.404);
}

.table-action.update{
  color:rgb(0, 153, 255);
}
.table-action.update:hover{
  color:rgb(0, 153, 255);
  background-color: rgba(0, 153, 255, 0.404);
}
.table-action.manage{
  color:rgb(255, 196, 0);
}
.table-action.manage:hover{
  color:rgb(255, 196, 0);
  background-color: rgba(255, 196, 0, 0.404);
}

.table-actions .table-action:hover, .table-action:hover{
  cursor:pointer;
}
