::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9B9B9B;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9B9B9B;
  font-size: 12px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9B9B9B;
  font-size: 12px;
}

.form-label{
  width: 100%;
  font-size: 12px;
  color: #888888;
}
.form-label:hover{
  .container{
    display: block;
  }
}

.form-input-text{
  width: 100%;
  height: 40px;
  padding: 0 .6rem;
  border: 2px solid rgba($color: #C1C1C1, $alpha: 1);
  border-radius: 3px;
  background-color: rgb(244, 244, 252);
}

.invalid-field{
  color: red;
  font-size: 12px;
  line-height: 1rem;
}

.submit-form{
  width: 100%;
  border: none;
  background-color: #DB0240;
  color: #F2F2F2;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;
}
.submit-form:disabled{
  background-color: #C1C1C1;
}
