.sidenav-nav-link{
  display:flex;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.625rem;
  transition:  all .3s ease;
  margin: 0 .25rem;

  .sidenav-link-icon{
    font-size: 16px;
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #F2F2F2;
  }
  .sidenav-link-text{
    margin-left: .6rem;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    color: #F2F2F2;
  }
}


.active{
  background-color: #dd3565;
  transition:  all .8s ease;
  .sidenav-link-icon,
  .sidenav-link-text{
    color: #F2F2F2;
    transition:  all .8s ease;
  }
}
.sidenav-nav-link:hover{
  background-color: #440114;
  transition:  all .8s ease;
}
