$maincolor: #440114de;
.sidenav{
  background-color: $maincolor;
  transition:  all .3s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 16rem;
  height: 100vh;
  /*box-shadow: 0.063rem 0 1.25rem 0 #8690A3;*/
  box-shadow: 0.063rem 0 .5rem 0 #cfd4dd;
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 0.75rem;
  width: 100%;
  .side-icon{
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border: none;

    color: #F2F2F2;

  }
  .btn-side{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius:0.625rem;
    background-color: transparent;
    border: none;
  }
  .btn-side:hover{
    background-color: #440114;
    transition:  all .8s ease;
  }

  .logo-text{
    margin-left: .6rem;
    font-size: 14px;
    font-weight: bold;
    color: #F2F2F2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

  }
}
.sidenav-collapsed{
  width: 4rem;
}

.general-user-menu-label{
  width: 100%;
  font-size: 9px;
  margin-bottom: .5rem;
  font-weight: 500;
  color: #F2F2F2;
}

.sidenav-nav{
  list-style: none;
  padding: 1.25rem 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);

  .sidenav-nav-item{
    width: 100%;
    margin-bottom: 0.4rem;
  }
  .sidenav-nav-user{
    width: 100%;
    margin-bottom: 2rem;
  }
}

