.p-steps-number, .p-steps-title{
    font-size: 14px;
}

.p-steps .p-steps-item.p-highlight .p-steps-number{
    background-color: #440114de;
    color: #FFF;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number{
    font-weight: 600;
    font-size: 13px;
    line-height: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title{
    margin-top: .25rem;
}
