.p-datatable .p-datatable-thead>tr>th{
  font-size: 13px;
  padding: .5rem;
}

.p-datatable .p-datatable-tbody>tr>td{
  font-size: 12px;
  padding: .75rem .5rem;
}

.p-datatable-responsive-scroll>.p-datatable-wrapper{
  overflow-x:initial !important;
}

.p-paginator-bottom.p-paginator{
  padding: .25rem 1rem;
}

.p-paginator .p-paginator-current,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-dropdown,
.p-paginator .p-paginator-pages .p-paginator-page {
  height: 2.5rem;
  font-size: .75rem;
}

.p-fluid .p-inputtext,
.p-input-icon-left>.p-inputtext{
  height: 40px;
}

.p-datatable .p-datatable-header{
  padding: .5rem;
}
