.register-container{
  //margin-top: 5rem;
  width: calc(100% - 8rem);
  height: calc(100vh - 6rem);
  border-radius: 1rem;
  margin: 0rem 5rem;
  display: flex;
  flex-direction: row-reverse;
  min-width: 728px;
  align-items: stretch;
  background-color: rgb(244, 244, 252);
  box-shadow: 1px 1px 1rem 2px rgba($color: #707070, $alpha: .05),
  -1px -1px 1rem 2px rgba($color: #707070, $alpha: .05);
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.container-content {
  width: 90%;
  padding: 1rem;
}

.header-container{
  width: 100%;
  height: 18%;
  .title{
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
  }
  .description{
    width: 100%;
    font-size: 12px;
    color: #888888;
    text-align: center;
  }
}
.general-cotainer{
  width: 100%;
  //background-color: #8fe7e7;
  border: 1.5px solid #a19e9e;
}
.form-container{
  padding: 2rem 2rem;

  .fields-form{
    //background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .form-item{
    width: 80%;
    margin-bottom: 1rem;
    justify-self: center;
    .form-label{
      position: relative;
      display: flex;
    }
  }


}

.buttons-handler{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .form-save-step{
    width: 110px;
    background-color: #DB0240;
    color: #F2F2F2;
    font-size: 14px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 40px;
    font-weight: 400;
    cursor: pointer;
  }
  .form-cancel-step{
    margin-right: 2rem;
    width: 110px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #DB0240;
    background-color: rgb(244, 244, 252);
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    color: #DB0240;
    font-weight: 400;
    cursor: pointer;
  }

}
