<div class="register-container">
  <div class="container-content">
    <div class="header-container">
      <div class="title" *ngIf="!isEditForm">Creación de Nuevo Administrador</div>
      <div class="title" *ngIf="isEditForm">Modificación de Administrador</div>
      <div class="description" >Ingresar los datos del nuevo administrador a registrar</div>
    </div>
    <div class="general-cotainer">

      <form [formGroup]="form" (ngSubmit)="submitCreateAdmin()" class="form-container">
        <div class="fields-form">
          <div class="form-item form-item-field-names">
            <label for="name" class="block">Nombres</label>
            <input id="name" formControlName="name"  type="text" placeholder="Nombres" class="form-input" pInputText />
          </div>
          <div class="form-item form-item-field-lastname">
            <label for="lastname" class="block">Apellidos</label>
            <input id="lastname" formControlName="lastname" type="text" placeholder="Apellidos" class="form-input" pInputText />
          </div>
          <div class="form-item form-item-field-address">
            <label for="address" class="block">Dirección</label>
            <input id="address" formControlName="address" type="text" placeholder="Direccción" class="form-input" pInputText />
          </div>

          <div class="form-item form-item-field-cell-phone">
            <label for="phone" class="block">Celular</label>
            <input id="phone" formControlName="phone" type="text" placeholder="Celular" class="form-input" pInputText />
          </div>

          <div class="form-item form-item-field-email">
            <label for="email" class="block">Correo Electrónico</label>
            <input id="email" formControlName="email" type="text" placeholder="Correo Electrónico" class="form-input" pInputText />
          </div>

          <div class="form-item form-item-field-password">
            <label for="password" class="block">Contraseña</label>
            <p-password id="password" [(ngModel)]="passwordSuggest" formControlName="password" class="form-input dis-passs" [toggleMask]="true"></p-password>

            <span class="text-suggest-pass" (click)="generatePassword()">Sugerir contraseña</span>
          </div>

          <div class="form-item form-item-field-role">
            <label for="role" class="block">Rol</label>
            <p-dropdown id="role" *ngIf="roles$|async as roles" formControlName="role" [options]="roles" optionLabel="name" class="form-input dis-passs"></p-dropdown>
          </div>

        </div>

        <div class="buttons-handler">
          <div class="form-cancel-step" routerLink="../">
            Cancelar
          </div>
          <button class="form-save-step" >
            Guardar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
