<div class="container">
  <div class="tittle">
    <h2>Administración de administradores</h2>
  </div>
  <div class="main-controller">
    <a class="button-create" mat-icon-button routerLink="{{'../'+ createAdminLink}}">
      <mat-icon>add</mat-icon>
      Crear Administrador
    </a>
  </div>
  <div class="table-container mat-elevation-z1" *ngIf="adminsData$|async as adminsData">
    <p-table [value]="adminsData" styleClass="p-datatable-striped" >
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dirección</th>
          <th>Teléfono/Celular</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admi>
        <tr>
          <td>{{admi.name}}</td>
          <td>{{admi.lastname}}</td>
          <td>{{admi.address}}</td>
          <td>{{admi.phone}}</td>
          <td>{{admi.email}}</td>
          <td>{{admi.role}}</td>
          <td>
            <button class="button-table-controller view" mat-icon-button aria-label="expand row" (click)="detail(admi)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button class="button-table-controller edit" mat-icon-button aria-label="expand row" (click)="update(admi)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="button-table-controller delete" mat-icon-button aria-label="expand row" (click)="remove(admi)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-view-admin></app-view-admin>
