/* Structure */
.container {
  width: calc(100% - 2rem);
  height: calc(100vh - 10rem);
  border-radius: 1rem;
  margin: 2rem 1rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 1rem 2px #7070700d, -1px -1px 1rem 2px #7070700d;

  .tittle{
    text-align: center;
    color: #440114de;
  }
}
.main-controller{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .button-create{
    width: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3653d6;
    color: #f4f7fd;
    padding: 0.3rem .5rem;
    border: none;
    border-radius: .25rem;
  }
  .button-create:hover{
    opacity: 0.8;
  }
}
.table-container {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.button-table-controller{
  cursor: pointer;
  border-radius: .25rem;
  border: none;
  margin-right: 1rem;
  padding: auto .25rem;
  color: #f4f7fd;
}
.button-table-controller:hover{
  opacity: .8;
}
.delete{
  background-color: #e62d2d;
}
.edit{
  background-color: #3653d6;
}
.view{
  background-color: #d8b33b;
}

