.home-admin-container{
  margin: 2% 3%;
  .title{
    text-align: center;
    font-family: "Book Antiqua";
  }
  .main-img-container{
    width: 40%;
    margin: 40px auto;
  }
  .cards-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5%;

    .card {
      width: 20%;
      .buttons-container{
        display: grid;
        gap: 20px;
        margin: 15px;

        .button-create{
          width: 100%;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #f4f7fd;
          padding: 0.3rem .5rem;
          border: none;
          border-radius: .25rem;
        }
        .button-create:hover{
          opacity: 0.8;
        }
        .color-green{
          background-color: #18a45e;
        }
        .color-blue{
          background-color: #3653d6;
        }
        .color-orange{
          background-color: #f68a2e;
        }
      }

    }

  }
}

