$height: 100vh;
.container{
  width: 100vw;
  height: 100vh;
  background-color:rgb(45,63,100);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem 2rem;
  width: 18rem;
  background-color: rgb(45,63,100);
  border: 3px solid rgb(27, 40, 68);
}

//-------- form

.form-label{
  width: 100%;
  font-size: 12px;
  color: #dddddd;
}
.form-label:hover{
  .container{
    display: block;
  }
}

.form-input-text{
  width: 100%;
  height: 40px;
  padding: 0 .6rem;
  border: 2px solid rgba($color: #C1C1C1, $alpha: 1);
  border-radius: 3px;
  background-color: rgb(244, 244, 252);
}
.form-item{
  width: 100%;
  display: grid;
  grid-template-rows: 1rem 40px 1rem;
  gap: .25rem;
}
.invalid-field{
  color: red;
  font-size: 12px;
  line-height: 1rem;
}

.submit-form{
  width: 100%;
  border: none;
  background-color: #DB0240;
  color: #F2F2F2;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;
}
.submit-form:disabled{
  background-color: #C1C1C1;
}

