.container{
  width: 100%;
  padding: 1rem 1rem;
}
.body{
  width: calc(100vw - 4rem);
  height: 100vh;
  margin-left: 4rem;
  padding: 1rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .3s ease;
  background-color: #eaf1fd;
}
.body-trimmed{
  width: calc(100% - 16rem);
  margin-left: 16rem;
}
.body-md-screen{
  width: calc(100% - 4rem);
  margin-left: 4rem;
}
.outlet-body{
  width: 100%;
}

$height: 100vh;

/*---------------------------LOADER WRAPER---------------------------*/
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
  }
  .no-js #loader-wrapper {

	display: none;
  }

    .loader-container{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  /* Externo */
  #loader {
	display: block;
	position: relative;
	width: 340px;
	height: 340px;
	// margin: 10.2% 0 0 0;
	border-radius: 50%;
	border: 10px solid transparent;
	border-top-color: rgb(41,74,142);
	-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
	z-index: 11;
  }
  .image-loader{
    background-color: transparent;
	  height: 300px;
    margin-top: calc(($height - 300px)/2);
  }
  /* Medio */
 /* #loader:before {
	content: "             ";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 10px solid transparent;
	border-top-color: rgb(64,113,210);
	-webkit-animation: spin-reverse 5s linear infinite !important;
			animation: spin-reverse 5s linear infinite !important;
  }
*/
  /* Interno*/
  /*#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 10px solid transparent;
	border-top-color: rgb(185,204,243);
	-webkit-animation: spin 10s linear infinite;
			animation: spin 10s linear infinite;
  }
  */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin-reverse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
  @keyframes spin-reverse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  /*fondo negro*/
  #loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50.002%;
	height: 100%;
	background: rgb(45,63,100);
	z-index: 10;
  }

  .loader-section{

  }

  #loader-wrapper .loader-section.section-left {
	left: 0;
  }

  #loader-wrapper .loader-section.section-right {
	right: 0;

  }

  /* estilos de carga */
  .loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
			transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }

  .loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
  }
  /*------------------------LOADER WRAPER END--------------------------*/
