<div class="home-admin-container">
  <h2 class="title">Bienvenidos a la parte administrativa de la Oficina Universitaria de Cooperación, Convenios e Internacionalización </h2>
  <div class="main-img-container">
    <img  mat-card-image src="./assets/images/post.png" alt="Photo of a Shiba Inu">
  </div>

  <div class="cards-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Convocatorias</mat-card-title>
        <mat-card-subtitle>Selecciona la opción que buscas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="buttons-container">
          <button class="button-create color-green" mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
            Ver Convocatorias
          </button>
          <button class="button-create color-green" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
            Crear Convocatoria
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Seguimiento</mat-card-title>
        <mat-card-subtitle>Selecciona la opción que buscas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="buttons-container">
          <button class="button-create color-blue">
            <mat-icon>search</mat-icon>
            Buscar Alumno
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Reportes</mat-card-title>
        <mat-card-subtitle>Selecciona la opción que buscas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="buttons-container">
          <button class="button-create color-orange" mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
            Ver Reportes
          </button>
          <button class="button-create color-orange" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
            Generar Reporte
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
