.container{
  height: calc(100vh - 3.5rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
  .header{
    height: 50px;
    width: 100%;
    line-height: 50px;
  }
  .content{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    .form-content{
      width: 50%;
      min-width: 500px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2,auto) repeat(3, auto);
      gap: .25rem;
      padding: 1rem 0rem;
    }
  }
  .footer-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
.p-inputgroup {
  place-self: center;
  .p-form-element{
    height: 40px;
  }
}

