<div class="container">
  <div class="header">Crear Convocatoria COEVAN</div>
  <div class="content">
      <form class="form-content" [formGroup]="formCreateConvocationCoevan">

        <mat-form-field class="flex-auto" appearance="fill" *ngIf="academicNetworks$|async as academicNetworks">
          <mat-label>Red Académica</mat-label>
          <mat-select formControlName="academicNetwork" (selectionChange)="changeAcademicNetwork($event)">
							<mat-option *ngFor="let academicNetwork of academicNetworks" [value]="academicNetwork.id">
								{{academicNetwork.name}}
						  </mat-option>
					</mat-select>
          <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
          <mat-hint>(obligatorio)</mat-hint>
        </mat-form-field>

        <mat-form-field class="flex-auto" appearance="fill" *ngIf="universitiesByAcademicNetwork$|async as universitiesByAcademicNetwork">
          <mat-label>University</mat-label>
          <mat-select formControlName="university">
							<mat-option *ngFor="let university of universitiesByAcademicNetwork" [value]="university.id">
								{{university.name}}
						  </mat-option>
					</mat-select>
          <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
          <mat-hint>(obligatorio)</mat-hint>
        </mat-form-field>

        <mat-form-field class="flex-auto" appearance="fill" *ngIf="requirements$|async as requirements">
          <mat-label>Requerimientos</mat-label>
          <mat-select formControlName="requirements" multiple>
							<mat-option *ngFor="let requirement of requirements" [value]="requirement.id">
								{{requirement.description}}
						  </mat-option>
					</mat-select>
          <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
          <mat-hint>(obligatorio)</mat-hint>
        </mat-form-field>

        <div class="p-inputgroup semester">

          <mat-form-field class="flex-auto" appearance="fill">
            <mat-label>Semestre</mat-label>
            <mat-select formControlName="semester">
                <mat-option value="2022-A">
                  {{"2022-A"}}
                </mat-option>
                <mat-option value="2022-B">
                  {{"2022-B"}}
                </mat-option>
            </mat-select>
            <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
            <mat-hint>(obligatorio)</mat-hint>
          </mat-form-field>
        </div>

        <div class="p-inputgroup">
          <span class="p-form-element p-inputgroup-addon">
            <i class="pi pi-briefcase"></i>
          </span>
          <span class="p-float-label">
            <p-chips inputId="documents" field="name" [(ngModel)]="documents" formControlName="documents">
              <ng-template let-item pTemplate="item">
                <div class="chip-template">
                  <i class="pi pi-file-pdf"></i> {{item.name}}
                </div>
                <div class="center">{{item.type}}</div>

              </ng-template>
            </p-chips>
              <label for="documents">Documents</label>
          </span>
          <button (click)="displayCreateDocumentModal=true" type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-danger"></button>
          <app-create-document *ngIf="displayCreateDocumentModal" [displayModal]="displayCreateDocumentModal" (emitDisplayModal)="displayCreateDocumentModal=false"></app-create-document>
        </div>

        <div class="p-inputgroup">
          <span class="p-form-element p-inputgroup-addon">
            <i class="pi pi-briefcase"></i>
          </span>
          <span class="p-float-label">
            <p-chips inputId="links" field="name" [(ngModel)]="links" formControlName="links">
              <ng-template let-link pTemplate="item">
                <div class="chip-template">
                  <i class="pi pi-globe"></i> {{link.name}}
                </div>
                <div class="center">{{link.type}}</div>
              </ng-template>
            </p-chips>
              <label for="links">Links</label>
          </span>
          <button (click)="displayCreateLinkModal=true" type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-danger"></button>
          <app-create-link *ngIf="displayCreateLinkModal" [displayModal]="displayCreateLinkModal" (emitDisplayModal)="displayCreateLinkModal=false"></app-create-link>

        </div>


        <!-- <div class="p-inputgroup date-end">
          <p-fileUpload name="myfile[]" [multiple]="multiple"></p-fileUpload>
        </div>

        <div class="p-inputgroup date-end">
          <p-fileUpload name="myfile[]" [multiple]="multiple"></p-fileUpload>
        </div> -->
      </form>
      <div class="text-content">
        <form [formGroup]="formCreateConvCoevanTextTemplate">
          <mat-tab-group animationDuration="0ms" color="#5c2232" backgroundColor="primary">
            <mat-tab label="Aval Institucional">

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Tag</mat-label>
                  <mat-select (selectionChange)="textInsert(aval,$event.value)">
                      <mat-option value="<STUDENT_NAME>">{{"Nombre estudiante"}}</mat-option>
                      <mat-option value="<STUDENT_LASTNAME>">{{"Apellido estudiante"}}</mat-option>
                      <mat-option value="<MODALITY>">{{"Modalidad"}}</mat-option>
                      <mat-option value="<UNIVERSITY_TARGET>">{{"Universidad Destino"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_NAME>">{{"Red Académica Nombre Largo"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_ACRONYM>">{{"Red Académica Acrónimo"}}</mat-option>
                      <mat-option value="<SEMESTER>">{{"Semestre"}}</mat-option>
                      <mat-option value="<FACULTY>">{{"Facultad"}}</mat-option>
                      <mat-option value="<PROFESSIONAL_PROGRAM>">{{"Programa profesional"}}</mat-option>
                  </mat-select>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Aval Institucional</mat-label>
                  <textarea #aval formControlName="avaltext" class="example-right-align" matInput></textarea>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:supervised_user_circle"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Reconocimiento Académico">

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Tag</mat-label>
                  <mat-select (selectionChange)="textInsert(academicCourse,$event.value)">
                      <mat-option value="<STUDENT_NAME>">{{"Nombre estudiante"}}</mat-option>
                      <mat-option value="<STUDENT_LASTNAME>">{{"Apellido estudiante"}}</mat-option>
                      <mat-option value="<MODALITY>">{{"Modalidad"}}</mat-option>
                      <mat-option value="<UNIVERSITY_TARGET>">{{"Universidad Destino"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_NAME>">{{"Red Académica Nombre Largo"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_ACRONYM>">{{"Red Académica Acrónimo"}}</mat-option>
                      <mat-option value="<SEMESTER>">{{"Semestre"}}</mat-option>
                      <mat-option value="<FACULTY>">{{"Facultad"}}</mat-option>
                      <mat-option value="<PROFESSIONAL_PROGRAM>">{{"Programa profesional"}}</mat-option>
                  </mat-select>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Reconocimiento Académico</mat-label>
                  <textarea #academicCourse formControlName="coursestext" class="example-right-align" matInput></textarea>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:supervised_user_circle"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>

            </mat-tab>
            <mat-tab label="Declaración de Compromiso">

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Tag</mat-label>
                  <mat-select (selectionChange)="textInsert(comprom,$event.value)">
                      <mat-option value="<STUDENT_NAME>">{{"Nombre estudiante"}}</mat-option>
                      <mat-option value="<STUDENT_LASTNAME>">{{"Apellido estudiante"}}</mat-option>
                      <mat-option value="<MODALITY>">{{"Modalidad"}}</mat-option>
                      <mat-option value="<UNIVERSITY_TARGET>">{{"Universidad Destino"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_NAME>">{{"Red Académica Nombre Largo"}}</mat-option>
                      <mat-option value="<ACADEMIC_NETWORK_ACRONYM>">{{"Red Académica Acrónimo"}}</mat-option>
                      <mat-option value="<SEMESTER>">{{"Semestre"}}</mat-option>
                      <mat-option value="<FACULTY>">{{"Facultad"}}</mat-option>
                      <mat-option value="<PROFESSIONAL_PROGRAM>">{{"Programa profesional"}}</mat-option>
                  </mat-select>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:hearing"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>

              <div class="p-inputgroup">
                <mat-form-field class="flex-auto" appearance="fill">
                  <mat-label>Declaración de Compromiso</mat-label>
                  <textarea #comprom formControlName="commitment" class="example-right-align" matInput></textarea>
                  <mat-icon class="mr-3" matPrefix svgIcon="mat:supervised_user_circle"></mat-icon>
                  <mat-hint>(obligatorio)</mat-hint>
                </mat-form-field>
              </div>

            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
  </div>
  <div class="footer-controls">
    <p-button label="Guardar" (click)="createConvocationDetailCoevan()" icon="pi pi-check"></p-button>
    <button pButton type="button" icon="pi pi-trash" label="Cancelar" routerLink="../" class="p-button-outlined p-button-danger"></button>
    <!-- <p-button label="Cancelar" icon="pi pi-trash" class="p-button-danger"></p-button> -->
  </div>
</div>
