.field-data.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .25rem;
  .label{
    width: 100%;
    font-size: 11px;
    overflow:hidden;
    color: #838383;
  }
  .data{
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    overflow-x:scroll;
    color: #0e0e0e;
  }


  /* Hide scrollbar for Chrome, Safari and Opera */
  .label::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .label {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .data::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .data {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

}
