.table-courses-coevan .p-datatable .p-datatable-thead>tr>th{
  font-size: 13px;
  padding: .5rem;
}

.table-courses-coevan .p-datatable .p-datatable-tbody>tr>td{
  font-size: 12px;
  padding: .5rem;
}
.table-courses-coevan .p-datatable .p-datatable-tbody>tr>td .p-inputtext{
  border-radius: 3px;
  max-height: 40px;
  font-size: 13px;
}
.p-datatable-responsive-scroll>.p-datatable-wrapper{
  overflow-x:initial !important;
}
